body{
	font-family: 'Gudea', sans-serif;
	text-align: center;
	font-size: 14px;
	background: url("../images/main-bg.png") no-repeat top left #080f17;
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
	p{
		color: #888;
		letter-spacing: 0.025em;
	}
	header.header {
		margin-top: 120px;
		margin-bottom: 130px;
		h1 {
			font-family: 'Rajdhani', sans-serif;
			font-size: 4em;
			margin-bottom: 30px;
		}
	}
	.main-content {
		max-width: 850px;
		margin: 0 auto;
		li{
			img {
				width: 100%;
			}
			a {
				margin: 20px;
				display: block;
			}
		}
		hr {
			margin: 100px 0;
			border-color: #252525;
		}
	}
}